body {
  font: 1em/1.5em 'Lekton', sans-serif;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), to(#04225A));
  background: -moz-linear-gradient(top, #CCC, #04225A);
}

h1 {
  font-size: 1.75em;
  font-family: 'Tinos', serif;
  margin: 1em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  background-color: #EAFFEF;
  color: black;
}

a:hover {
  background-color: #ccc;
}

p {
  margin: .5em 0;
}

header {
  margin: .5em;
}

nav a {
  font-size: 1.25em;
  margin: 0 .5em;
}

.content {
  margin: 0 auto;
  padding: 1em;
  width: 800px;
  height: 100%;
  text-align: center;
  background-color: white;
}

.main-content {
  margin: 2em 0;
}

article {
  margin: 1em 0;
  text-align: left;
}

article a {
  background-color: #6FC;
}

footer {
  margin: .5em;
}